/*{ color: #1848D9; }
{ color: #4B75F2; }
{ color: #B6C5F2; }
{ color: #456EBF; }
{ color: #435373; }*/

body{
    background-color: #B6C5F2;
    text-align: center;
    margin:0px;
}

body p{
    font-family:'Arial';
}

nav{
    background-color: #456EBF;
    display: flex;
    align-items: center;
    justify-content: start;
    padding:5px;
}

nav picture img{
    width:40px;
    margin-left:5px;
}

nav ul{
    width:90%;
    justify-content: end;
    display:inline-flex;
    list-style: none;
}

nav ul li{
    color:whitesmoke;
    font-family: 'Mulish';
    margin-right:5px;
    transition:0.5s;
}

nav ul li:hover{
    font-size: 18px;
    text-decoration: underline;
}

header{
    padding:10px;
    background-color: #456EBF;
}

body header h1{
    margin-bottom: 15px;
    margin-top:0px;
    font-size: 2.5em;
    font-weight: 500;
    font-family:'Red Hat Display';
}

body header h2{
    margin:0;
    margin-bottom:20px;
    color:whitesmoke;
    font-size: 1.5em;
    font-weight:400;
    font-family: 'Mulish';
}

main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:10px 10px 18px rgba(0, 0, 0, 0.336);
    padding:10px;
    margin:auto;
    max-width:1000px;
    min-width:300px;
    background:white;
}

main h2{
    color:#435373;
    margin-top:0;
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
}

main div#container-ap{
    margin: auto;
    width:500px;
}

main div p#apresentacao{
    line-height: 25px;
}

main div#container-btn button{
    background-color:#1848D9;
    font-family: 'Arial';
    color:white;
    width:80px;
    height:25px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.342);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    transition:0.2s;
}

main div#container-btn button:hover{
    background-color:#153bac;
    width:85px;
    height:30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

main div#container-btn button:active{
    background-color:#3b65e6;
}